<div class="container list-container mt-4 mb-4">
  <ol class="list-group">
    @for (paisL of listaPaises; track $index) {
    <li
      (click)="seleccionarNombre(paisL.name.common)"
      (click)="selectItem($index)"
      [ngClass]="{ active: selectedItem === $index }"
      class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ paisL.name.common }}</div>
      </div>
      <img src="{{ paisL.flags.png }}" width="30px" alt="" />
    </li>
    }
  </ol>
</div>
